<div class="container">
	<div class="details">
		<app-title title="Login"></app-title>
		<form [formGroup]="loginForm" (ngSubmit)="submmit()">
			<!-- <div class="input-container">
				<label>Email</label>
				<div>
					<input type="email" placeholder="Email" formControlName="email">
				</div>
				<div class="error-list" *ngIf="fc.email.errors && isSubmitted">
					<div *ngIf="fc.email.errors.required">Заполните поле: Email</div>
					<div *ngIf="fc.email.errors.email">Email должен быть корректным</div>
				</div>
			</div> -->

			<!--  <input-container label="Email"> -->
				<!-- <input type="email" placeholder="Email" formControlName="email"> -->
				<!-- <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
						<div *ngIf="fc.email.errors.required">Заполните поле: Email</div>
						<div *ngIf="fc.email.errors.email">Email должен быть корректным</div>
				</div> -->
			<!-- <input-validation [control]="fc.email"
				[showErrorsWhen]="isSubmitted">
			</input-validation> -->
		<!-- </input-container> -->

		<text-input [control]="fc.email"
		[showErrorsWhen]="isSubmitted"
		type="email"
		label="Email"></text-input>

			<!-- <div class="input-container">
				<label>Password</label>
				<div>
					<input type="password" placeholder="Password" formControlName="password">
				</div>
				<div class="error-list" *ngIf="fc.password.errors && isSubmitted">
					<div *ngIf="fc.password.errors.required">Заполните поле: Пароль</div>
					
				</div>
			</div> -->
			<text-input [control]="fc.password"
			[showErrorsWhen]="isSubmitted"
			type="password"
			label="Password"></text-input>

			<!-- <div class="button">
				<button type="submit">Login</button>				
			</div> -->
			<default-button text = "Login"></default-button>
			<div class="register">
				Новый пользователь ? &nbsp; 
				<a routerLink="/register" [queryParams]="{returnUrl: returnUrl}">Register Here</a>
			</div>
		</form>
	</div>
</div>
