<div class="container">
	<div class="details">
		<app-title title="Register"></app-title>
		<form [formGroup]="registerForm" (ngSubmit)="submit()">
			<text-input [control]="fc.name" [showErrorsWhen]="isSubmmited" label="Name"></text-input>
			<text-input [control]="fc.email" [showErrorsWhen]="isSubmmited" label="Email" type="email"></text-input>
			<text-input [control]="fc.password" [showErrorsWhen]="isSubmmited" label="Password" type="password"></text-input>
			<text-input [control]="fc.confirmPassword" [showErrorsWhen]="isSubmmited" label="ConfirmPassword" type="password"></text-input>
			<text-input [control]="fc.address" [showErrorsWhen]="isSubmmited" label="Address" ></text-input>
			<default-button text="Register"></default-button>
			<div class="login">
				Уже зарегистрирован ? &nbsp; 
				<a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">Login Here</a>
			</div>
		</form>
	</div>
</div>
